#intro
.jumbotron{
    height: 100%;
    background-color: rgb(224,229,223)!important;
}

.jumbotron{
    height: 100%;
}
.slogan {
    color: black;
    font-family: verdana;
    font-style: italic;
    font-size: 250%;
    height: 5%;
    right:1%;
  }
.headerrrr {
    color: black;
    font-family: verdana;
    font-style: italic;
    font-size: 150%;
    height: 5%;
    right:1%;
  }
.location{
    position: absolute;
    font-family: verdana;
    font-weight: 400;
    font-style: italic;
    font-size: 95%;
    right: 4%;}
.time{
    position: absolute;
    font-family: verdana;
    font-weight: 400;
    font-style: italic;
    font-size: 95%;
    right: 4%;}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
.content {
        display: block;
        margin-left: auto;
        width: 100%;
      }

@media (max-width: 600px) {
        .chunk > div {
        flex-direction: column;
        align-items: start;
        }
    }
.navbar-brand {
      font-size: 1.5em; /* Adjust the font size as needed */
      font-weight: bold;
      color: black;
      display: inline-block;
      position: relative;
      text-decoration: none; /* Remove default underline */
  }
  
.nav-link {
    position: relative;
    color: black;
    font-size: 100%;
    text-decoration: none;
    line-height: 1; /* Reduces the space within the text line */
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: -1px; /* Positions the underline closer to the text */
    left: 50%; /* Center the line below the text */
    transform: translateX(-50%); /* Ensure the line is centered properly */
    background: black;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 75%; /* Set the width of the underline to 50% of the text width */
    background: black;
}